@import url("../../.cache/wal/wallpaper_colors-gtk3.css");
/* modified from https://gitlab.com/jbauernberger/dotfiles/-/blob/master/.config/waybar/style.css */
@define-color bg-color rgb(60, 65, 60);               /* #3C413C */

@define-color alert-bg-color rgb (189, 44, 64);       /* #bd2c40 */
@define-color alert-fg-color rgb (255,255,255);       /* #FFFFFF */
@define-color inactive-fg-color rgb(144, 153, 162);   /* #9099a2 */
@define-color inactive-bg-color rgb(64, 69, 82);      /* #404552 */

* {
    border: none;
    /* border-radius: 4; */
    font-family: Dejavu Sans Mono, FontAwesome, Material Icons, sans-serif;
    font-size: 13px;
    min-height: 0;
    opacity: 1.0;
    text-shadow: rgb(0,0,0), 2, 2, 2;
}

button:hover {
    background: rgba(0, 0, 0, 0.2);
    text-shadow: inherit;
    box-shadow: inherit;
}

window#waybar {
    background-color: @color2;
    color: @foreground;
    border-bottom: none;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.4;
}

window#waybar.empty #window {
    opacity: 0.0;
}

#window {
    padding: 0 10px;
    margin: 0 8px;
    background-color: @background;
}

#workspaces button {
    padding: 0 16px;
    /* padding: 0 5px; */
    background-color: @color3;
    color: @color15;
    border-radius: 0;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
    border-bottom: 3px solid @foreground;
}

#workspaces button.focused {
    background-color: @color3;
    border-bottom: 3px solid @color15;
}

#workspaces button.urgent {
    background-color: @alert-bg-color;
}

#mode {
    padding: 0 10px;
    margin: 0 4px;
    background-color: @color0;
    border-bottom: 3px solid @foreground;
}

#tray {
    padding: 0 10px;
    margin: 0 0px;
    background-color: @color4;
    color: @foreground;
}

#battery.charging {
    color: @foreground;
    background-color: rgb(0,179,0);
}
#battery.warning:not(.charging) {
    color: @alert-fg-color;
    background-color: @alert-bg-color;
}
#battery.critical:not(.charging) {
    background-color: @alert-bg-color;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: @alert-bg-color;
}

#clock, #battery, #backlight, #network, #pulseaudio {
    padding: 0 8px;
    margin: 0px 0px 0px 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-radius: 0;
    background-color: @color3;
    color: @color15;
}

#pulseaudio.muted {
    background-color: @inactive-bg-color;
    color: @inactive-fg-color;
}

#cpu, #disk, #memory {
    padding: 0 8px;
    /* margin: 1px 0px 1px 0px;*/
    margin: 0px 0px 0px 0px;
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 0;
    background-color: @color3;
    color: @color15;
}

#custom-poweropts {
    padding: 0 8px;
    margin: 0px 0px 0px 0px;
    /*background-color: @color6;*/
    background-color: @color4;
    border-radius: 0;
    color: @background;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @bg-color;
    }
}

label:focus {
    background-color: @bg-color;
}

